<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Calculator"
        tools:targetApi="31">
        <activity
            android:name=".dregister"
            android:theme="@style/Theme.Material3.Light.NoActionBar"
            android:exported="false" />
        <activity
            android:name=".dLogin"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".dMainActivity"
            android:exported="true">

        </activity>

        <activity
            android:name=".WaterIntakeCalculatorActivity"
            android:exported="true">

        </activity>


        <activity
            android:name=".sMainActivity"
            android:exported="true">

        </activity>


        <activity
            android:name=".Tips"
            android:exported="false" />
        <activity
            android:name=".data_list"
            android:exported="false" />
        <activity
            android:name=".data_edit"
            android:exported="false" />
        <activity
            android:name=".data_add"
            android:exported="false" />
        <activity
            android:name=".tMainActivity"
            android:exported="true">

        </activity>


    </application>

</manifest>